<h2 layout="row" class="md-display-1">1. Size selector</h2>
<p layout="row">Select the collection of sizes to see the tiles available on each collection:</p>
<div layout="row" class="tile-collection" layout-align="center start" layout-margin layout-wrap ng-init="$ctrl.init()">
    <div class="tile-collection-item" ng-repeat="item in $ctrl.getCollectionTiles()" md-whiteframe="1" flex="15" flex-xs="70" flex-sm="45" flex-md="30">
        <a href="#" title="{{ ::item.title }}" class="tile-content" ng-click="$ctrl.selectCollectionTiles(item.id)">
            <div class="tile-body">
                <div class="tile-size size-{{ ::item.inches }}"></div>
            </div>
            <h3 class="tile-title" ng-bind="::item.title"></h3>
        </a>
    </div>
</div>
<div class="step-action" layout-sm="column" layout-wrap layout-margin>
    <md-button ng-click="$ctrl.completeStep()">
        Siguiente
    </md-button>
</div>