.tile-set-content
  background: $color-gray-100

tile-set
  margin: 2rem 0

  .tile-collection
    list-style: none
    margin: 0
    padding: 0
    width: 100%

    .tile-collection-item
      background: white
      cursor: pointer
      padding: 0
      text-align: center

      a.tile-content
        box-sizing: border-box
        display: block
        padding: 1.5rem 0
        text-decoration: none

        .tile-body
          align-items: center
          display: flex
          margin: 0
          min-height: 80px
          padding: 0
          width: 100%

        .tile-size
          background: $color-blue-500
          margin: 0 auto

          &.size-30
            height: 80px
            width: 80px

          &.size-25
            height: 70px
            width: 70px

          &.size-20
            height: 60px
            width: 60px

          &.size-15
            height: 50px
            width: 50px

          &.size-10
            height: 40px
            width: 40px

          &.size-7
            height: 28px
            width: 28px

        .tile-title
          color: $color-gray-500
          font-size: 0.9rem
          margin: 1rem 0 0
          padding: 0 1rem



