.tile-set-content
  background: $color-gray-1

tile-set
  .tile-collection
    width: 100%

  .tile-collection-item
    background: white
    cursor: pointer
    text-align: center

    &:hover
      background: #DCEDC8

    .tile-size
      background: #8BC34A
      display: inline-block

      &.size-30
        height: 120px
        width: 120px

      &.size-25
        height: 100px
        width: 100px

      &.size-20
        height: 80px
        width: 80px

      &.size-15
        height: 60px
        width: 60px

      &.size-10
        height: 40px
        width: 40px

      &.size-7
        height: 28px
        width: 28px

    .tile-title
      background: $color-gray-2
      bottom: 0
      display: block
      font-size: 1.2rem
      left: 0
      margin: 0
      overflow: hidden
      padding: 0.6rem
      position: absolute
      text-align: center !important
      width: 100%
