<md-steppers flex layout-fill >
    <md-step label="Select the tile size set" md-complete="step1.completed"  ng-disabled="step1.disabled">
        <md-content flex md-scroll-y layout-fill layout-padding>
            <div class="set-list" layout="column" layout-align="start end" layout-fill layout-padding flex>
                <div class="tile-collection" ng-repeat="item in $ctrl.getTiLeSetItems()" flex="grow">
                    <span class="tile-size {{ ::item.sizeClass }}"></span>
                    <h3 class="tile-title" ng-bind="::item.title"></h3>
                </div>
            </div>
        </md-content>
    </md-step>
    <md-step label="Customize your tile pattern" md-complete="step2.completed"  ng-disabled="step2.disabled">
        <md-content>PASO 2</md-content>
    </md-step>
    <md-step label="Test it" md-complete="step3.completed"  ng-disabled="step3.disabled">
        <md-content>PASO 3</md-content>
    </md-step>
    <md-step label="Finish" md-complete="step4.completed"  ng-disabled="step4.disabled">
        <md-content>PASO 4</md-content>
    </md-step>
</md-steppers>