<md-steppers flex layout-fill md-stretch-steppers="always">
    <md-step label="Select the tile size collection" md-complete="step1.completed" ng-disabled="step1.disabled">
        <md-content flex md-scroll-y layout-fill class="tile-set-content">
            <div class="step-content">
                <collection-tiles></collection-tiles>
            </div>
        </md-content>
    </md-step>
    <md-step label="Select the grid size" md-complete="$ctrl.steps.step2.completed"  ng-disabled="$ctrl.steps.step2.disabled">
        <md-content flex md-scroll-y layout-fill class="tile-set-content">
            <div class="step-content">
                <collection-grids></collection-grids>
            </div>
        </md-content>
    </md-step>
    <md-step label="Customize" md-complete="$ctrl.steps.step3.completed"  ng-disabled="$ctrl.steps.step3.disabled">
        <md-content flex md-scroll-y layout-fill class="tile-set-content">
            <div class="step-content">
                <tile-customizer></tile-customizer>
            </div>
        </md-content>
    </md-step>
    <md-step label="Finish" md-complete="$ctrl.steps.step4.completed"  ng-disabled="$ctrl.steps.step4.disabled">
        <md-content>PASO 4</md-content>
    </md-step>
</md-steppers>